#all-puppies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  
  .single-puppy-card {
    flex-basis: 200px;
    flex-grow: 1;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
    margin: 5px 10px;
    padding: 10px;
    border-radius: 10px;
  
    display: flex;
    flex-direction: column;
  }
  
  .single-puppy-card img, .single-puppy-view img {
    width: 100%;
    border-radius: 10px;
    margin: 10px 0px;
  }
  
  .header-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 10px;
  }
  
  .header-info > p {
    margin: 5px;
  }
  
  .pup-title {
    font-size: x-large;
  }
  
  .pup-number {
    font-style: italic;
  }
  
  .single-puppy-detailed-view {
    flex-basis: 500px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
    margin: 5px 10px;
    padding: 10px;
    border-radius: 10px;
   
    display: flex;
    flex-direction: column;
   
  }
  
  .single-puppy-view > p {
    margin: 10px 0px 0px 0px;
  }
  
  .new-puppy-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    font-size: x-large;
    border: 2px solid orange
  }

  .new-puppy-form input{
    margin: 10px;
  }

  .new-puppy-form button, .detail-button, .search-button{
    margin: 10px;
    font-size: large;
  }

  .search-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    font-size: x-large;
    margin:10px;
    border: 2px solid orange;
  }